apiVersion: v1
kind: Service
metadata:
  name: guestbook-ui
  labels:
    app: guestbook
    tier: frontend
spec:
  type: NodePort
  ports:
  - port: 80
    targetPort: 2368
    nodePort: 30000
  selector:
    app: guestbook
    tier: frontend
